<!DOCTYPE html>
<html>
<head>
  <title>Jcmanagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="nPmVkNjONBQn_8OMZyYDT8eX5Hd4wF3HVoWAJvX1bco" />
</head>
<body>

<%= yield %>

</body>
</html>
